## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
vacation_df = pd.read_csv("/Users/nidaiqbal/Class/World_Weather_Analysis/Vacation Search/WeatherPy_Database.csv")
vacation_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,63.00,57,99,5.01,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,77.58,73,87,8.32,light rain
2,2,Yerbogachen,RU,61.2767,108.0108,19.78,88,100,7.49,light snow
3,3,Bengkulu,ID,-3.8004,102.2655,84.96,64,100,10.49,moderate rain
4,4,Georgetown,MY,5.4112,100.3354,87.80,70,20,2.30,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 63

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = vacation_df.loc[(vacation_df["Max Temp"] <= max_temp) & \
                                       (vacation_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,63.00,57,99,5.01,overcast clouds
22,22,Ribeira Grande,PT,38.5167,-28.7000,60.62,89,100,30.87,overcast clouds
23,23,Miyako,JP,39.6367,141.9525,61.18,58,84,13.09,broken clouds
26,26,Bluff,NZ,-46.6000,168.3333,63.00,57,100,5.01,overcast clouds
45,45,Rundu,NaN,-17.9333,19.7667,62.82,60,16,5.95,few clouds
63,63,Port Alfred,ZA,-33.5906,26.8910,60.12,83,40,7.07,scattered clouds
84,84,Cape Town,ZA,-33.9258,18.4232,60.01,87,0,3.44,clear sky
90,90,Chuy,UY,-33.6971,-53.4616,61.92,86,5,5.35,clear sky
97,97,Hermanus,ZA,-34.4187,19.2345,60.01,76,93,1.99,overcast clouds
134,134,Paraguacu Paulista,BR,-22.4128,-50.5758,61.57,71,1,7.78,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
45,False,False,True,False,False,False,False,False,False,False

In [6]:
preferred_cities_df.count()

City_ID                41
City                   41
Country                39
Lat                    41
Lng                    41
Max Temp               41
Humidity               41
Cloudiness             41
Wind Speed             41
Current Description    41
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df= preferred_cities_df.dropna()

In [8]:
preferred_cities_df.count()

City_ID                39
City                   39
Country                39
Lat                    39
Lng                    39
Max Temp               39
Humidity               39
Cloudiness             39
Wind Speed             39
Current Description    39
dtype: int64

In [9]:
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,63.00,57,99,5.01,overcast clouds
22,22,Ribeira Grande,PT,38.5167,-28.7000,60.62,89,100,30.87,overcast clouds
23,23,Miyako,JP,39.6367,141.9525,61.18,58,84,13.09,broken clouds
26,26,Bluff,NZ,-46.6000,168.3333,63.00,57,100,5.01,overcast clouds
63,63,Port Alfred,ZA,-33.5906,26.8910,60.12,83,40,7.07,scattered clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df= preferred_cities_df[["City", "Country", "Max Temp","Current Description","Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,63.00,overcast clouds,-46.1927,168.8643,
22,Ribeira Grande,PT,60.62,overcast clouds,38.5167,-28.7000,
23,Miyako,JP,61.18,broken clouds,39.6367,141.9525,
26,Bluff,NZ,63.00,overcast clouds,-46.6000,168.3333,
63,Port Alfred,ZA,60.12,scattered clouds,-33.5906,26.8910,
84,Cape Town,ZA,60.01,clear sky,-33.9258,18.4232,
90,Chuy,UY,61.92,clear sky,-33.6971,-53.4616,
97,Hermanus,ZA,60.01,overcast clouds,-34.4187,19.2345,
134,Paraguacu Paulista,BR,61.57,clear sky,-22.4128,-50.5758,
139,Christchurch,NZ,62.60,overcast clouds,-43.5333,172.6333,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# 6b. Iterate through the hotel DataFrame.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

# 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
# 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,63.00,overcast clouds,-46.1927,168.8643,Ellie's Villa
22,Ribeira Grande,PT,60.62,overcast clouds,38.5167,-28.7000,Quinta da Meia Eira
23,Miyako,JP,61.18,broken clouds,39.6367,141.9525,Hotel Route Inn Miyako
26,Bluff,NZ,63.00,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
63,Port Alfred,ZA,60.12,scattered clouds,-33.5906,26.8910,The Halyards Hotel

In [20]:
hotel_df.count()

City                   39
Country                39
Max Temp               39
Current Description    39
Lat                    39
Lng                    39
Hotel Name             39
dtype: int64

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!='']
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,63.00,overcast clouds,-46.1927,168.8643,Ellie's Villa
22,Ribeira Grande,PT,60.62,overcast clouds,38.5167,-28.7000,Quinta da Meia Eira
23,Miyako,JP,61.18,broken clouds,39.6367,141.9525,Hotel Route Inn Miyako
26,Bluff,NZ,63.00,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
63,Port Alfred,ZA,60.12,scattered clouds,-33.5906,26.8910,The Halyards Hotel

In [22]:
clean_hotel_df.count()

City                   38
Country                38
Max Temp               38
Current Description    38
Lat                    38
Lng                    38
Hotel Name             38
dtype: int64

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "clean_hotel_df.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
#locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

### Please refer to WeatherPy_vacation_map.png for image